<%= link_to season_path(league.current_season), class: 'list-group-item public-league' do %>
  <div>
    <%= league.location_text %>
    <span class="stat-line">
      <%= league.name %>
    </span>
    <div class="caption-text text-info">
      <%= league.public_league_stats %>
    </div>
  </div>
  <% unless league.memberships.where(user: current_user, league: league).any? || current_user.nil?  %>
    <%= button_to 'Request Membership', memberships_path, params: { membership: { user_id: current_user.id, league_id: league.id } }, class: 'btn btn-outline-primary btn-sm' %>
  <% end %>
<% end %>
