<div class="card">
  <div class="card-header league-name">
    <%= @league.name %>
  </div>
  <div class="card-body">
    <div class="league-show-header">
      <h5 class="header-text">Overall League Statistics</h5>
      <%= link_to 'View Current Season Statistics', '#', class: 'btn btn-outline-info btn-sm' %>
    </div>
    <hr />
    <div class="stats row justify-content-md-center">

      <div class="card text-white bg-primary mb-3 ml-3 mr-3 col-md-3 pl-0 pr-0">
        <div class="card-body card-stat">
          <div class="number-stat"><%= @league.seasons_count %></div>
        </div>
        <div class="card-footer stat-footer">
          <div class="stat-title">Number of Seasons</div>
        </div>
      </div>

      <div class="card text-white bg-secondary mb-3 col-md-3 ml-3 mr-3 pl-0 pr-0">
        <div class="card-body card-stat">
          <div class="number-stat"><%= @league.games_count %></div>
        </div>
        <div class="card-footer stat-footer">
          <div class="stat-title">Total Number of Games</div>
        </div>
      </div>

      <div class="card text-white bg-success mb-3 col-md-3 ml-3 mr-3 pl-0 pr-0">
        <div class="card-body card-stat">
          <div class="number-stat"><%= @league.average_players_per_game %></div>
        </div>
        <div class="card-footer stat-footer">
          <div class="stat-title">Average Players per Game</div>
        </div>
      </div>

    </div>

    <hr />
    <div class="row justify-content-center mt-3">
      <div class="col-md-4 mt-3">
        <div class="card mb-4 border-primary">
          <h5 class="card-header header-text">
            League Leader
          </h5>
          <div class="card-body">
            Mike Cassano
          </div>
        </div>

        <div class="card mb-4 border-danger">
          <h5 class="card-header header-text">
            Most 2nd Place Finishes
          </h5>
          <div class="card-body">
            Kyle Wheeler (23)
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <div class="card mb-4 border-info">
          <h5 class="card-header header-text">
            Standings
          </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1. Mike Cassano</li>
              <li class="list-group-item">2. Kyle Wheeler</li>
              <li class="list-group-item">3. Tyler Merry</li>
              <li class="list-group-item">4. Mark Miranda</li>
              <li class="list-group-item">5. Mike Cassano</li>
              <li class="list-group-item">6. Kyle Wheeler</li>
              <li class="list-group-item">7. Tyler Merry</li>
              <li class="list-group-item">8. Mark Miranda</li>
            </ul>
        </div>
      </div>
    </div>

    <hr />
    <p>Stats for Season #<%= @league.current_season_number %></p>
    <p>Total Number of Games for Season: <%= @current_season.games_count %></p>
    <p>Average Players per Game: <%= @current_season.average_players_per_game %></p>
    <p>Current Season Leader: <%= @current_season.leader_full_name %></p>
    <% unless @current_season.most_second_place_finishes[1].nil? %>
    <p>Most 2nd Place Finishes (<%= @current_season.most_second_place_finishes[1] %>):</p>
    <ul>
      <% @current_season.most_second_place_finishes[0].each do |player_name| %>
      <li><%= player_name %></li>
      <% end %>
    </ul>
    <% end %>
    <p>Standings:</p>
    <ol>
      <% @current_season.ordered_rankings_full_names.each do |player| %>
      <li><%= player.user_full_name %> - <%= player.cumulative_score %></li>
      <% end %>
    </ol>

  </div>
</div>
