<li class="list-group-item <%= notification.read_at_class %>">
  <div class="stat-line">
    <%= notification.notification_text %>
  </div>
  <div class="caption-text">
    <%= time_ago_in_words(notification.created_at) %> ago |
    <%= link_to 'view notification', notification %>
    <%= notification.mark_as_read_link %>
  </div>
</li>
