<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to root_path, class: 'navbar-brand' do %>
      Poker<span>Rank</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <%= render partial: 'shared/button_bar' %>
          <%= render partial: 'shared/dropdown' %>
          <%= render partial: 'shared/notifications' %>
        <% else %>
          <%= render partial: 'shared/log_in_out_buttons' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
