<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <h6>
      <span class="badge <%= current_user.unread_notifications_count.zero? ? 'badge-info' : 'badge-danger' %> dropdown-toggle">
        <%= current_user.unread_notifications_count %>
      </span>
    </h6>
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <% current_user.last_five_notifications.each do |note| %>
      <div class="dropdown-item">
        <%= note.notification_text %>
        <%= note.decorate.navbar_mark_as_read_link %>
      </div>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to 'view all notifications', notifications_path, class: 'dropdown-item' %>
    <%= link_to 'mark all as read', '#', class: 'dropdown-item' %>
  </div>
</li>
