<div class="d-flex justify-content-center">
  <div class="col-lg-6">
    <div class="game-actions">
      <%= link_to 'Return to League', league_path(@game.league), class: 'btn btn-outline-primary btn-sm mb-2 mr-2' %>
      <%= @game.complete_or_uncomplete_buttons %>
      <% if policy(@game).can_edit? %>
        <%= link_to 'Edit Game', edit_game_path(@game) %>
      <% end %>
    </div>
    <div class="card border-primary standings mb-4">
      <div class="card-header header-text border-primary text-primary">
        <h5 class="user-header-text">Date: <%= @game.formatted_full_date %></h5>
        <div class="caption-text">Buy In: <%= number_to_currency(@game.buy_in) %></div>
        <div class="caption-text">Season #<%= @game.season_league_season_number %></div>
      </div>
      <ul class="list-group list-group-flush standings-list">
        <li class="list-group-item header-text user-header-text">
          <%= @game.standings_title %>
        </li>
        <% @players.in_place.decorate.each do |player, index| %>
          <%= link_to user_stats_path(user_id: player.user_id, season: @game.season_id), class: 'list-group-item list-group-item-action stat-line standing' do %>
            <div>
              <%= player.name_with_place %>
              <div class="caption-text text-info">
                <%= player.score_text %>
              </div>
            </div>
            <%= player.delete_and_score_buttons %>
          <% end %>
        <% end %>
        <%= @game.new_player_form %>
      </ul>
    </div>
  </div>
</div>
<%= render partial: 'new_user_modal' %>
