<div class="d-flex justify-content-center">
  <div class="col-lg-6">
    <div class="game-actions">
      <%= link_to 'Return to League', league_path(@game.league), class: 'btn btn-outline-primary btn-sm mb-2 mr-2' %>
      <%= @game.complete_or_uncomplete_buttons %>
    </div>
    <div class="card border-primary mb-4">
      <div class="card-header header-text border-primary text-primary">
        <h5 class="user-header-text">Date: <%= @game.formatted_full_date %></h5>
        <div class="caption-text">Buy In: <%= number_to_currency(@game.buy_in) %></div>
        <div class="caption-text">Season #<%= @game.season_league_season_number %></div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item header-text user-header-text">
          Standings
        </li>
        <% @game.players.in_place.decorate.each do |player, index| %>
          <%= link_to user_stats_path(user_id: player.user_id, season: @game.season_id), class: 'list-group-item list-group-item-action stat-line' do %>
            <%= "#{player.finishing_place}. #{player.user_full_name}" %>
            <div class="caption-text text-info">
              <%= player.score_text %>
            </div>
          <% end %>
        <% end %>
        <% if @game.not_completed? %>
          <div class="list-group-item list-group-item-action stat-line">
          <%= form_for Player.new(game: @game) do |f| %>
            <%= f.select :user_id, @game.available_players, { prompt: 'Choose a Player' }, { class: 'form-control user-select' } %>
          <% end%>
          </div>
        <% end%>
      </ul>
    </div>
  </div>
</div>
