<div class="d-flex justify-content-center">
  <div class="col-lg-6">
    <div class="game-actions">
      <%= link_to 'Return to League', league_path(@game.league), class: 'btn btn-outline-primary btn-sm mb-2 mr-2' %>
      <%= @game.complete_or_uncomplete_buttons %>
    </div>
    <div class="card border-primary standings mb-4">
      <div class="card-header header-text border-primary text-primary">
        <h5 class="user-header-text">Date: <%= @game.formatted_full_date %></h5>
        <div class="caption-text">Buy In: <%= number_to_currency(@game.buy_in) %></div>
        <div class="caption-text">Season #<%= @game.season_league_season_number %></div>
      </div>
      <ul class="list-group list-group-flush standings-list">
        <li class="list-group-item header-text user-header-text">
          <%= @game.standings_title %>
        </li>
        <% @game.players.in_place.decorate.each do |player, index| %>
          <%= link_to user_stats_path(user_id: player.user_id, season: @game.season_id), class: 'list-group-item list-group-item-action stat-line standing' do %>
            <div>
              <%= player.name_with_place %>
              <div class="caption-text text-info">
                <%= player.score_text %>
              </div>
            </div>
            <%= player.delete_and_score_buttons %>
          <% end %>
        <% end %>
        <%= @game.new_player_form %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<% if policy(@game).user_is_admin? %>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add a User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body stat-line">
          <%= form_for(User.new, url: game_users_path) do |f| %>
            <div class="form-group">
              <%= f.label :email, 'Email Address' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :first_name, 'First Name' %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :last_name, 'Last Name' %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
        </div>
        <div class="modal-footer">
            <%= f.submit 'Add User', class: 'btn btn-outline-primary btn-block' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
